

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
<div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  
<div style="width: 200%;" class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
  <app-cotoneaster-card></app-cotoneaster-card>
</div>

</div>





<div class="mdl-layout-spacer"></div></div>

<div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">Meilleurs Langages de Programmation 2021</h2>
      </base-card-title>
      <base-card-body>
        <app-country-statistics-chart></app-country-statistics-chart>
      </base-card-body>
    </base-card>
  </div>



  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-trending></app-trending>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">Nous sommes présents dans..</h2>
      </base-card-title>
      <base-card-body>
      <app-browser-statistics-chart></app-browser-statistics-chart>
      </base-card-body>
    </base-card>
  </div>
  

</div>



  <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">





  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
    <app-table-card></app-table-card>
  </div>


</div>



<div
  class="mdl-grid mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
 
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--2-col-phone">
    <app-todo-list></app-todo-list>
  </div>
</div>

