<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text color--dark-gray">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="mdl-card__title-text text-color--smooth-gray">FORMAPLUS</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="text--huge color-text--light-blue">404</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="text--sorry text-color--white">Désolé , verifiez votre url</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <a routerLink="/app/dashboard" class="mdl-button mdl-js-button color-text--light-blue pull-right">
          Retour au dashboard
        </a>
      </div>
    </div>
  </div>
</div>
