<br>
<mat-card class="mdl-color--red" style="color:white;" *ngIf="affiche">impossible de supprimer une formation déja affectée à une session </mat-card>

<br>

<br>
<div fxLayout fxLayoutAlign="center center" style="background-color:white;">
  <mat-form-field fxFlex="20%">
    <mat-label style="color: #919191;">Recherche</mat-label>

    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Recherche" style="color: #919191;">
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">   
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red" (click)="del(element.id)">
        <i class="material-icons">delete</i>
      </button>
       </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>
       <!-- Position Column -->
       <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef> Budget</th>
        <td mat-cell *matCellDef="let element"> {{element.budget}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef> Duree </th>
        <td mat-cell *matCellDef="let element"> {{element.duree}} </td>
      </ng-container>
       <!-- Position Column -->
       <ng-container matColumnDef="nb_session">
        <th mat-header-cell *matHeaderCellDef> Nombre de sessions</th>
        <td mat-cell *matCellDef="let element"> {{element.nb_session}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="type_formation">
        <th mat-header-cell *matHeaderCellDef> Type formation </th>
        <td mat-cell *matCellDef="let element"> {{element.type_formation}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="domaine">
        <th mat-header-cell *matHeaderCellDef> Domaine </th>
        <td mat-cell *matCellDef="let element"> {{element.domaine.libelle}} </td>
      </ng-container>
    
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>