
  <base-card >
  <base-card-title expanded>
  <title>A propos de nous !</title>
   <img style="width:100% ;" src="../../../../assets/images/cotoneaster.jpg">
    
  </base-card-title>
  <base-card-body>
    <div>
      En rejoignant FormaPlus, vous aurez accès au support de toute une communauté passionnée par le numérique pour vous motiver au quotidien. Nous organisons aussi différents événements: hackathons, talks, panels… pour notre communauté.
      Aussi, chaque étudiant sera accompagné par un instructeur de haut niveau. Nous croyons fermement qu'une formation efficace passe par une assistance humaine.
    </div>
  </base-card-body>
</base-card>